.zoom-image-main-container:hover .img-zoom-result {
  display: block;
}

.zoom-image-main-container:hover .img-zoom-lens {
  display: block;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  background: linear-gradient(rgba(74, 255, 3, 0.2), rgba(105, 255, 5, 0.2), rgba(187, 255, 0, 0.2));
  width: 80px;
  height: 80px;
  display: none;
}

.img-zoom-result {
  position: absolute;
  display: none;
}

/* Scrollbar */
.overflow-auto::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.overflow-auto::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #65ee09;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.blury {
  backdrop-filter: blur(10px);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.skeleton-shimmer {
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
}

.skeleton-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite linear;
}